USE [master]
GO
/****** Object:  Database [database_PracticeClass]    Script Date: 16/08/1398 01:35:59 ب.ظ ******/
CREATE DATABASE [database_PracticeClass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBasePracticeClass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataBasePracticeClass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBasePracticeClass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataBasePracticeClass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [database_PracticeClass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [database_PracticeClass]
GO
USE [database_PracticeClass]
GO
/****** Object:  Table [dbo].[table_Course]    Script Date: 16/08/1398 01:35:59 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_Course](
	[idCourse] [char](7) NOT NULL,
	[nameCourse] [varchar](25) NOT NULL,
 CONSTRAINT [PK_table_Course] PRIMARY KEY CLUSTERED 
(
	[idCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_PracticeClass]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_PracticeClass](
	[groupeNumberPracticeClass] [smallint] NOT NULL,
	[termPracticeClass] [bit] NOT NULL,
	[yearYearPracticeClass] [char](5) NOT NULL,
	[idCourse] [char](7) NULL,
	[idProfessor] [char](10) NULL,
	[idTA] [char](10) NULL,
 CONSTRAINT [PK_table_PracticeClass] PRIMARY KEY CLUSTERED 
(
	[groupeNumberPracticeClass] ASC,
	[yearYearPracticeClass] ASC,
	[termPracticeClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_Professor]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_Professor](
	[idProfessor] [char](10) NOT NULL,
	[connectionInfo] [text] NULL,
 CONSTRAINT [PK_table_Professor] PRIMARY KEY CLUSTERED 
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_Resource]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_Resource](
	[nameResource] [varchar](25) NULL,
	[linkResource] [text] NULL,
	[idCourse] [char](7) NOT NULL,
	[idProfessor] [char](10) NULL,
	[numberResource] [smallint] NOT NULL,
 CONSTRAINT [PK_table_Resource] PRIMARY KEY CLUSTERED 
(
	[idCourse] ASC,
	[numberResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_Student]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_Student](
	[idStudent] [char](10) NOT NULL,
 CONSTRAINT [PK_tableStudent] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_StudentPracticeClass]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_StudentPracticeClass](
	[grade] [smallint] NULL,
	[termPracticeClass] [bit] NOT NULL,
	[yearYearPracticeClass] [char](5) NOT NULL,
	[groupeNumberPracticeClass] [smallint] NOT NULL,
	[idStudent] [char](10) NOT NULL,
 CONSTRAINT [PK_table_StudentPracticeClass] PRIMARY KEY CLUSTERED 
(
	[termPracticeClass] ASC,
	[yearYearPracticeClass] ASC,
	[groupeNumberPracticeClass] ASC,
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_User]    Script Date: 16/08/1398 01:36:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_User](
	[idUser] [char](10) NOT NULL,
	[nameUser] [varchar](25) NOT NULL,
	[password] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tableUser] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[table_PracticeClass]  WITH CHECK ADD  CONSTRAINT [relationship_CoursePracticeClass] FOREIGN KEY([idCourse])
REFERENCES [dbo].[table_Course] ([idCourse])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[table_PracticeClass] CHECK CONSTRAINT [relationship_CoursePracticeClass]
GO
ALTER TABLE [dbo].[table_PracticeClass]  WITH CHECK ADD  CONSTRAINT [relationship_ProfessorPracticeClass] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[table_Professor] ([idProfessor])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[table_PracticeClass] CHECK CONSTRAINT [relationship_ProfessorPracticeClass]
GO
ALTER TABLE [dbo].[table_PracticeClass]  WITH CHECK ADD  CONSTRAINT [relationship_StudentPracticeClass] FOREIGN KEY([idTA])
REFERENCES [dbo].[table_Student] ([idStudent])
GO
ALTER TABLE [dbo].[table_PracticeClass] CHECK CONSTRAINT [relationship_StudentPracticeClass]
GO
ALTER TABLE [dbo].[table_Professor]  WITH CHECK ADD  CONSTRAINT [relationship_UserProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[table_User] ([idUser])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[table_Professor] CHECK CONSTRAINT [relationship_UserProfessor]
GO
ALTER TABLE [dbo].[table_Resource]  WITH CHECK ADD  CONSTRAINT [relationship_CourseResource] FOREIGN KEY([idCourse])
REFERENCES [dbo].[table_Course] ([idCourse])
GO
ALTER TABLE [dbo].[table_Resource] CHECK CONSTRAINT [relationship_CourseResource]
GO
ALTER TABLE [dbo].[table_Resource]  WITH CHECK ADD  CONSTRAINT [relationship_ResourceProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[table_Professor] ([idProfessor])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[table_Resource] CHECK CONSTRAINT [relationship_ResourceProfessor]
GO
ALTER TABLE [dbo].[table_Student]  WITH CHECK ADD  CONSTRAINT [relationship_Userstudent] FOREIGN KEY([idStudent])
REFERENCES [dbo].[table_User] ([idUser])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[table_Student] CHECK CONSTRAINT [relationship_Userstudent]
GO
ALTER TABLE [dbo].[table_StudentPracticeClass]  WITH CHECK ADD  CONSTRAINT [relationship_PracticeClassStudentPracticeClass] FOREIGN KEY([groupeNumberPracticeClass], [yearYearPracticeClass], [termPracticeClass])
REFERENCES [dbo].[table_PracticeClass] ([groupeNumberPracticeClass], [yearYearPracticeClass], [termPracticeClass])
GO
ALTER TABLE [dbo].[table_StudentPracticeClass] CHECK CONSTRAINT [relationship_PracticeClassStudentPracticeClass]
GO
ALTER TABLE [dbo].[table_StudentPracticeClass]  WITH CHECK ADD  CONSTRAINT [relationship_StudentStudentPracticeClass] FOREIGN KEY([idStudent])
REFERENCES [dbo].[table_Student] ([idStudent])
GO
ALTER TABLE [dbo].[table_StudentPracticeClass] CHECK CONSTRAINT [relationship_StudentStudentPracticeClass]
GO
ALTER TABLE [dbo].[table_PracticeClass]  WITH CHECK ADD CHECK  (([termPracticeClass]=(0) OR [termPracticeClass]=(1)))
GO
ALTER TABLE [dbo].[table_PracticeClass]  WITH CHECK ADD CHECK  (([yearyearpracticeclass] like '__-__'))
GO
ALTER TABLE [dbo].[table_StudentPracticeClass]  WITH CHECK ADD CHECK  (([grade]>=(0) AND [grade]<=(100)))
GO
ALTER TABLE [dbo].[table_User]  WITH CHECK ADD CHECK  (([password] like '________%'))
GO
USE [master]
GO
